In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Ejercicio No 1

In [12]:
# cargando el fichero
dataFrame = pd.read_csv(r'/Volumes/T7/Back-up/ds/ds_projects/project_02/autos.csv', ';')
dataFrame.head()

/var/folders/qb/lhn0zb0n5852by01ll_z9zdm0000gn/T/ipykernel_3444/952659008.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  dataFrame = pd.read_csv(r'/Volumes/T7/Back-up/ds/ds_projects/project_02/autos.csv', ';')

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0

In [16]:
# convirtiendo valores a numero
def country_to_num(country_name):
    if(country_name == 'USA'):
        return 1
    if(country_name == 'Europe'):
        return 2
    if(country_name == 'Japan'):
        return 3
    return country_name

# reemplazamos la columna por una con los nuevos valores   
dataFrame['Pais_Origen'] = dataFrame['Pais_Origen'].apply(country_to_num)
dataFrame

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza
0,18.0,8,1,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0
1,15.0,8,1,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0
2,18.0,8,1,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0
3,16.0,8,1,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0
4,17.0,8,1,3449,302.0,10.5,ford torino,1/01/1970,140.0
...,...,...,...,...,...,...,...,...,...
401,27.0,4,1,2790,140.0,15.6,ford mustang gl,1/01/1982,86.0
402,44.0,4,2,2130,97.0,24.6,vw pickup,1/01/1982,52.0
403,32.0,4,1,2295,135.0,11.6,dodge rampage,1/01/1982,84.0
404,28.0,4,1,2625,120.0,18.6,ford ranger,1/01/1982,79.0
405,31.0,4,1,2720,119.0,19.4,chevy s-10,1/01/1982,82.0

# Ejercicio No 2

In [25]:
# importando las funciones a usar
import numpy as np
from numpy import exp, log, log10, sqrt

# verificando si tenemos datos perdidos
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 405
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Millas_Por_Galon   392 non-null    float64
 1   Cilindros          392 non-null    int64
 2   Pais_Origen        392 non-null    int64
 3   Peso_En_Libras     392 non-null    int64
 4   Desplazamiento     392 non-null    float64
 5   Aceleracion        392 non-null    float64
 6   Nombre             392 non-null    object
 7   Anyo               392 non-null    object
 8   Caballo_De_Fuerza  392 non-null    float64
 9   col_1              392 non-null    float64
dtypes: float64(5), int64(3), object(2)
memory usage: 33.7+ KB

In [21]:
# elimando filas con valores perdidos, fueron 14 filas lo cual no siento que afecte
# decidi optar por eliminarlas en para tener la mayor cantidad de valores reales.
dataFrame = dataFrame.dropna()
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 405
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Millas_Por_Galon   392 non-null    float64
 1   Cilindros          392 non-null    int64
 2   Pais_Origen        392 non-null    int64
 3   Peso_En_Libras     392 non-null    int64
 4   Desplazamiento     392 non-null    float64
 5   Aceleracion        392 non-null    float64
 6   Nombre             392 non-null    object
 7   Anyo               392 non-null    object
 8   Caballo_De_Fuerza  392 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 30.6+ KB

In [22]:
# extrayendo las variables
var1 = dataFrame['Aceleracion']
var2 = dataFrame['Caballo_De_Fuerza']

In [28]:
# agregando las variable numericas solicitadas
dataFrame['col_1'] = log10(var1/var2)
dataFrame['col_2'] = sqrt(var1)*exp(var2)/200
dataFrame['col_3'] = np.where(var1 > var2, 3, 5)
dataFrame['col_4'] =  1/log(var1/var2)*100
dataFrame['col_5'] = var2**2/var1
dataFrame.head()

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,col_1,col_2,col_3,col_4,col_5
0,18.0,8,1,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,-1.034762,4.975575e+54,5,-41.970466,1408.333333
1,15.0,8,1,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,-1.156786,7.725177e+69,5,-37.543197,2367.391304
2,18.0,8,1,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,-1.134699,2.311206e+63,5,-38.273996,2045.454545
3,16.0,8,1,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,-1.096910,2.413976e+63,5,-39.592535,1875.000000
4,17.0,8,1,3449,302.0,10.5,ford torino,1/01/1970,140.0,-1.124939,1.025161e+59,5,-38.606056,1866.666667

# Ejercicio No 3